@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

#loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    user-select: none;

    #loader {
        width: 100px;
        height: 100px;
    }
}

.logo img {
    width: 100%;
}

.reception {
    width: 800px;
    margin: 0 auto;
    margin-left: 370px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid grey;
    padding: 25px;
    border-radius: 9px;
    background-color: rgb(255, 234, 234); 

    h1 {
        text-align: center;
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 45px;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .picture {
            margin-left: 22px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        #img {
            width: 720px;
            height: 45px;
            margin-left: 15px;
            padding-left: 15px;
            border-radius: 8px;
            border: none;
            border: 1px solid grey;
            margin-bottom: 25px;
        }

        .companyName {
            margin-left: 22px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        #companyName {
            width: 720px;
            height: 45px;
            margin-left: 15px;
            padding-left: 15px;
            border-radius: 8px;
            border: none;
            border: 1px solid grey;
            margin-bottom: 25px;
        }

        .checbox {
            margin-left: 22px;
            display: flex;
            gap: 50px;
            margin-top: 10px;
            margin-bottom: 25px;

            .new {
                display: flex;
                gap: 10px;
            }

            #new {
                width: 21px;
                height: 21px;
            }

            span {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .old {
                display: flex;
                gap: 12px;
            }

            #featured {
                width: 21px;
                height: 21px;
            }
        }

        .level {
            margin-left: 22px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        #level {
            width: 720px;
            height: 45px;
            margin-left: 15px;
            padding-left: 15px;
            border-radius: 8px;
            border: none;
            border: 1px solid grey;
            margin-bottom: 25px;
        }

        .datas {
            display: flex;
            gap: 55px;
            margin-left: 25px;
            margin-bottom: 30px;

            .data1 {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .time {
                    font-size: 20px;
                    font-weight: 600;
                }

                #time {
                    width: 170px;
                    height: 35px;
                    border: none;
                    border: 1px solid grey;
                    border-radius: 5px;
                    padding-left: 8px;
                }
            }

            .data2 {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .work {
                    font-size: 20px;
                    font-weight: 600;
                }

                #work {
                    width: 170px;
                    height: 35px;
                    border: none;
                    border: 1px solid grey;
                    border-radius: 5px;
                    padding-left: 8px;
                }
            }

            .data3 {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .addres {
                    font-size: 20px;
                    font-weight: 600;
                }

                #addres {
                    width: 170px;
                    height: 35px;
                    border: none;
                    border: 1px solid grey;
                    border-radius: 5px;
                    padding-left: 8px;
                }
            }
        }

        .label {
            .menu {
                margin-left: 22px;
                font-size: 20px;
                font-weight: 600;
            }

            .labels {
                display: flex;
                margin-top: 15px;
                margin-left: 22px;
                gap: 100px;

                .first-label {
                    display: flex;
                    flex-direction: column;

                    .fullstack {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 10px;

                        #fullstack {
                            width: 21px;
                            height: 21px;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }

                    .phyton {
                        display: flex;
                        gap: 10px;

                        #phyton {
                            width: 21px;
                            height: 21px;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }

                .second-label {
                    display: flex;
                    flex-direction: column;

                    .midweight {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 10px;

                        #midweight {
                            width: 21px;
                            height: 21px;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }

                    .react {
                        display: flex;
                        gap: 10px;

                        #react {
                            width: 21px;
                            height: 21px;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    #button {
        width: 690px;
        height: 45px;
        margin-left: 28px;
        border-radius: 8px;
        border: none;
        border: 1px solid grey;
        margin-bottom: 5px;
        background-color: black;
        color: white;
        font-size: 22px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }

    #button:hover {
        background-color: #fff;
        color: black;
        font-size: 25px;
        border: 2px solid black;
    }
}

.cards {
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;

    .card {
        width: 1250px;
        margin-left: 90px;
        padding: 35px;
        display: flex;
        gap: 25px;
        border-radius: 12px;
        margin-bottom: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: #fff;

        img {
            width: 98px;
            height: 98px;
            margin-left: 10px;
            border-radius: 50px;
        }

        .left-card {
            margin-left: 5px;

            .companys {
                display: flex;
                gap: 12px;
                margin-bottom: 10px;

                .first {
                    width: 84px;
                    height: 17px;
                    padding-top: 3px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 16.56px;
                    color: rgba(92, 165, 165, 1);
                }

                .news {
                    margin-left: 25px;
                    width: 85px;
                    height: 34px;
                    background-color: rgba(92, 165, 165, 1);
                    border-radius: 20px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                    padding-top: 5px;
                    position: relative;
                    bottom: 7px;
                    color: rgba(255, 255, 255, 1);
                }

                .second {
                    width: 118px;
                    height: 34px;
                    background-color: rgb(43, 57, 57);
                    color: rgba(255, 255, 255, 1);
                    border-radius: 20px;
                    font-size: 20px;
                    font-weight: 700;
                    padding-top: 5px;
                    text-align: center;
                    position: relative;
                    bottom: 7px;
                }
            }

            .levels {
                height: 24px;
                font-weight: 700;
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 22px;
                color: rgb(43, 57, 57);
            }

            .times {
                display: flex;
                gap: 15px;

                span {
                    font-weight: 500;
                    font-size: 18px;
                    color: rgb(124, 143, 143);
                }

                .point {
                   font-weight: bold;
                   font-size: 25px;
                   position: relative; 
                   bottom: 10px;             
                }
            }
        }

        .right-card {
            display: flex;
            gap: 15px;
            padding-left: 190px;
            padding-top: 45px;

            h4 {
                width: 102px;
                height: 40px;
                background-color: rgb(239, 246, 246);
                color: rgb(92, 165, 165);
                padding-top: 10px;
                border-radius: 10px;
                text-align: center;
            }
        }

        #delete {
            font-size: 20px;
            font-weight: 600;
            color: blue;
        }

        #delete:hover {
            color: red;
        }
    }
}